body {  
  background-image: url(bg.png);
  background-size: 100%;
  font-family: comic sans ms;
  color: #1d5440;
  }
H1 {
  display: inline-block;
  position: relative;
  letter-spacing: .05em;
  font-size: 40px;  
  transition: all 1s;
  }
  
